<!-- View the details of a file -->
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> File details </h2>
        </div>
        <div class="panel-body text-center">
            <img ng-src="{{moodleFile.file.url | fpConvert: {filter:'sharpen', w:500} }}" />
            <h2>{{file.name}}</h2>
            <hr />
            <p class="text-left"><label>File: </label> <a ng-href="{{ moodleFile.file.url }}">{{file.name}}</a> </p>
            <p class="text-left"><label>Super powers: </label> {{file.superPowers}}</p>
            <!-- Only if there are other files -->
            <div ng-if="moodleFile.morefiles">
                <h3> More files <h3>
                <div ng-repeat="file in moodleFile.morefiles">
                    <div class="col-md-{{12 / file.morefiles.length}}">
                        <a ng-href="{{file.url}}" class="thumbnail">
                          <img ng-src="{{file.url | fpConvert: {filter:'sharpen', w:500} }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>