<!-- view the gallery of all the files in the db -->
<div class="row">
<div ng-repeat="moodleFile in moodleFile">
    <div ng-hide="{{ !moodleFile.module }}">            
      <div class="thumbnail">
        <img ng-src="{{moodleFile.file.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
        <div class="caption text-center">
          <p><label>File: </label> <a ng-href="{{ moodleFile.moodleFile.url }}">{{moodleFile.name}}</a></p>
          <p><label>Module: </label> {{moodleFile.module}}</p>
        </div>
      </div>
    </div>  
  </div>
</div>

<!--  ng-if="{{ moodleFile?.module }}"-->
